.homePage{
    background-color:  #e7e8d1;
    height: 100vh;
    border: 2px solid black;
}
.studentList{
    margin: 5px;

}
.studentList >h3{
    text-align: center;
    font-size: 2rem;
}
@media (max-width:900px){
    .studentList>h3{
        font-size: 1.625rem;
    }
}